:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
  font-weight: 400;
}

p {
  color: var(--grayish-blue);
}

img {
  max-width: 100%;
}

.btn__primary {
  padding: 0.75rem 1.75rem;
  border: none;
  border-radius: 1rem;
  color: var(--white);
  font-size: 1.125rem;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1111px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section__title {
  font-size: 1.5rem;
}

.main-header {
  min-height: 60px;
  width: 100%;
  display: flex;
  background-color: var(--white);
  position: fixed;
  z-index: 1;
}

.hamburger {
  position: relative;
  background-color: var(--grayish-blue);
  width: 20px;
  height: 2px;
  display: block;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--grayish-blue);
}

.hamburger::before {
  top: -5px;
}

.hamburger::after {
  top: 5px;
}

.header__container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.intro {
  background-color: var(--white);
  padding-bottom: 5.125rem;
}

.intro__img {
  margin-top: -50px;
  position: relative;
}

.intro__title {
  font-size: 2rem;
  margin-bottom: 1.5625rem;
}

.intro__body {
  margin-top: 1rem;
}

.intro__body .btn__primary {
  margin-top: 2rem;
}

/* WHY EASYBANK */
.why-eb {
  padding-top: 4rem;
  padding-bottom: 3.75rem;
  background-color: var(--light-grayish-blue);
}

.why-eb .section__title {
  margin-bottom: 1.375rem;
}

.why-eb__header {
  margin-bottom: 1rem;
}

.feature-block {
  margin-top: 1.75rem;
}

.feature-block__title {
  margin-top: 1.375rem;
}

.feature-block__body {
  margin-top: 1.375rem;
}
